@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    background: #232428;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    text-decoration: none;
    direction: rtl;
}



header {
    text-align: center;
    color: aliceblue;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    color: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

input[type="checkbox"] {
    width: 50px;
    height: 26px;
    cursor: pointer;
}

button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 17%;
    background: #332346;
    transition: .8s;
}

button:hover {
    background-color: #232428;
    border: 1px solid #ececec70;
}

.title {
    text-align: center;
}

.Name-of-lesson {
    width: 41%;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    background: none;
    text-align: center;
    color: #fff;
    border: none;
}

input.input-name {
    background: #332346;
    height: 36px;
    margin: 0px 0px 18px 0px;
    border: navajowhite;
    border-radius: 13px;
}

p.massage {
    text-align: center;
    color: #fff;
}

.HomePage {
    background: #343a40;
    padding: 3px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    width: 98%;
    margin: 8px auto;
}
.HomePage a {
    color: #FFF;
    text-decoration: none;
}